
.margem{
    margin-left:30%;
    margin-right:10%;
}

       /*botão verde aqua*/
.button1{
    background-color: #71bfb4;
border-color: #71bfb4;
border-style:none;
border-width:0.5px;
color: white;
text-align: center;
border-radius: 25px;
display:inline-block;
cursor: pointer;
font-size: 20px;
 padding: 15px 32px;
 font-family: Arial, sans-serif;
 

  top: 50%;
  left: 50%;
  width: 150px;
margin: 0 auto;
display: inline;
  
}

.button1:hover{
   opacity: 0.6;
}


     /*fundo azul escuro quadro*/
.quad{
 
    margin:50px;
    padding-top:10px;
    padding-bottom: 100px;
    padding-left:20px;
    padding-right:20px;
    background-color:#254981;
   
    font-family: Arial, Helvetica, sans-serif;color: white;
    border-color:#254981;
    border-radius:20px;
    font-size: 20px;
    
    
    
}

/*aviso fundo branco*/


.titulo{
    
     margin:50px;
    padding-top:10px;
    padding-bottom: 20px;
    padding-left:50px;
    padding-right:50px;
    background-color:#1b685c ;
   
    font-family: Arial, Helvetica, sans-serif;color: white;
    border-color:#1b685c;
    border-radius:20px;
    font-size: 20px;
   
}

.txtT{
    font-family:Arial, sans-serif;
     color:white;
     font-size:25px;
    
    
     border-radius: 10px;
     display:inline;
   
    padding-left: 10px;
     padding-right: 10px;
    bottom:10px;
}

table{
    
    
      border-collapse: collapse;
}

td,th{
  padding-left: 20px;
  padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    margin-left: 50px;
   
}
.tb{
    
     border:solid 2px; 
   border-color:white;
    border-radius: 10px;
 
    padding: 8px;
    text-align: left;
    margin-left: 10px;
    margin-top: 35px;
    color: white;
    font-size:20px;
}